{% extends 'pages/sidebar.html' %}

{% block content %}


  {% load static %}
 


  <div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

  <div class="card">
    <div class="card-header rounded-4">
      <h4 class="card-title">Principal Income History</h4>
  </div>
    <div class="card-body ">
   
      <div class="table-responsive">

      <table id='test' class="table hover table-borderless dt-responsive nowrap w-100 text-nowrap">
        <thead>
            <tr><th scope='col'>Username</th>
              <th scope='col'>Email</th>
                <th scope="col">Package Name</th>
                <th scope="col">Amount recieved</th>
                <th scope='col'>Package Amount</th>
                <th scope='col'>Date</th>
              </tr>
        </thead>

        <tbody>
          {% for i in data %}
        
          <tr>
            <td >{{i.plan_id.user_id.username}}</td>
            <td >{{i.plan_id.user_id.email}}</td>
            <td >{{i.plan_id.plan_id.name}}</td>
            <td >{{i.amount|floatformat:'2'}} ALP</td>
            <td >{{i.plan_id.amount}} ALP</td>
            <td >{{i.date|slice:"0:19"}}</td>
    
          </tr>
      
          {% endfor %}
        </tbody>
     
      </table>
      </div>
    </div>
</div>


</div>
</div>
</div>


{% endblock %}