{% extends 'userpages/sidebar.html' %} {% block content %} {% load static %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        {% if m == 'False' %}

        <div class="col-12">

          <div class="card">
            <div class="card-body bg-dark d-flex justify-content-between align-items-center">
              <div class="d-flex gap-4 align-items-center">

                <div>
                  <img src="{% static 'assets/images/notification.png' %}" width="40" alt="">
                </div>
                <div>
                  <h3 class="card-title">You are not a premium member</h3>
                  <p class="card-text">Kindly buy our plan to become a premium member.</p>
                </div>
              </div>

              <a href="../../../package" class="btn btn-primary waves-effect waves-light px-5">Buy Plan</a>
            </div>
          </div>
        </div>


        {% elif popup %}

        <div class="col-12">
          <div class="card">
            <div class="card-body bg-dark d-flex justify-content-between align-items-center">

              <div class="d-flex align-items-center gap-4">
                <div>
                  <img src="{% static 'assets/images/notification.png' %}" width="40" alt="">
                </div>
                <div>
                  <h3 class="card-title">Your Package will expire soon</h3>
                  <p class="card-text">Re-Topup Your plan for more income growth</p>
                </div>
              </div>
              <a href="../../../package" class="btn btn-primary waves-effect waves-light px-5">Re-Topup</a>
            </div>
          </div>
        </div>

        {% endif %}
        <div class="col-12">

          <div class="page-title-box d-sm-flex align-items-center justify-content-between">


            <h2 class="mb-sm-0 mt-5">Dashboard</h2>

            <div class="page-title-right pt-3 overflow-auto my-3 d-block d-sm-none">
              <div class="bg-light border p-1 rounded-3" id="reffer">
                <div class="p-1">
                  <div class="d-flex">
                    <p class="my-auto font-w-500 tx-s-12">BSC</p>
                    <br />
                    <div class="my-auto ml-auto pull-right" style="text-align: right; clear: both; position: relative">
                      <span class="px-1 cursor" title="copy" onclick="myFunction1()">
                        {{smart_contract.bscaddress}}
                      </span>
                    </div>
                    <input type="text" value="{{smart_contract.bscaddress}}" id="myInput" hidden />
                    <i class="fas fa-copy text-secondary fs-4 px-1 cursor" title="copy" onclick=myFunction1()></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-title-right mt-5 ">
              <div class="bg-light border bg-dark p-1 rounded-3" id="reffer">
                <div class="p-1">
                  <div class="d-md-flex">
                    <p class="my-auto font-w-500 tx-s-12">
                      Referral Link &nbsp;&nbsp;
                    </p>
                    <br />
                    <div class="my-auto ml-auto pull-right" style="text-align: right; clear: both; position: relative">
                      <span class="px-1 cursor text-break" title="copy" onclick=myFunction()>{{ref_link}}</span>

                      <input type="text" value="{{ref_link}}" id="myInput" hidden />
                      <i class="fas fa-copy text-secondary fs-4 px-1 cursor" title="copy" onclick=myFunction()></i>

                      <a href="whatsapp://send?text={{ref_link}}"><i class="fab fa-whatsapp text-secondary fs-4 px-1"
                          title="whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25 rounded-4">
            <!-- card body -->

            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Current Package Amount</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP </span>
                    </div>

                  </div>

                  <div class="col-auto">
                    <h4 class="mb-1">

                      <span class="counter-value text-success display-4 fw-semibold" id="earn"
                        data-target="{{current_package_amount|floatformat:'2'}}"></span>
                    </h4>
                  </div>


                </div>

              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div class="card card-h-100 bg-dark bg-opacity-25  rounded-4 shadow-lg border border-white border-opacity-25">
            <!-- card body -->

            <a href="#">
              <div class="card-body  rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">DSI Bonus</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP </span>
                    </div>

                  </div>

                  <div class="col-auto">
                    <h4 class="mb-1">

                      <span class="counter-value text-success display-4 fw-semibold" id="earn"
                        data-target="{{total_farming_roi|floatformat:'2'}}"></span>
                    </h4>
                  </div>


                </div>

              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->


        <!-- end col-->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div class="card  rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <!-- card body -->
            <a href="#">
              <div class="card-body  rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Direct Bonus</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP </span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="fixed"
                        data-target="{{refferal_income|floatformat:'2'}}">20</span>
                    </h4>
                  </div>
                </div>

              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>

        <!-- end col -->
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <!-- card body -->
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Total Withdraw</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP </span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{total_withdrawls|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>


        <!-- end col -->
      </div>





      <div class="row">

        <!-- end col -->



        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Active Team</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">id's</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="directref"
                        data-target="{{active_team}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>

        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Non-Active Team</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-warning font-size-13 mt-3">Id's</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold"
                        data-target="{{non_active_team}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>

        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">DSI Income</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{roi_left|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>


        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Direct Referrals</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">Id's</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{refs|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>


      </div>

      <div class="row">




        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Total Team</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">id's</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"></span>
                      <span class="counter-value text-success" id="total_withdraw" data-target="{{team}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>



        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Total Team Business</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{total_team_business|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>



        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Total Earn</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{total_income|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>



        <div class="col-xl-3 col-md-6">
          <div class="card rounded-4 card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25">
            <a href="#">
              <div class="card-body rounded-4">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="mb-1 h5 lh-1 d-block">Total Withdraw</span>
                    <div class="text-nowrap">
                      <span class="badge badge-soft-success font-size-13 mt-3">ALP</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h4 class="mb-1">
                      <span class="counter-value text-success display-4 fw-semibold" id="total_withdraw"
                        data-target="{{total_withdrawls|floatformat:'2'}}"></span>
                    </h4>
                  </div>
                </div>

              </div>
            </a>
          </div>
        </div>




        <!-- end col -->


        <!-- end col -->



        <!-- end col -->




      </div>

    </div>




    <h2 class=" mt-5 mb-4">Analytics</h2>

    <div class="row">


      <div class="col-xl-12">
        <div class="card bg-black bg-opacity-50 shadow-lg border border-white border-opacity-25 ">
          <div class="card-header">
            <h4 class="card-title mb-0">ROI BONUS</h4>

          </div>
          <!-- end card header -->

          <div class="card-body bg-dark px-0">

            <div class="table-responsive px-3" data-simplebar style="max-height: 352px">
              {% if farming_roi %}
              <table class="table table-hover align-middle table-nowrap table-borderless">
                <tbody>

                  <tr>
                    {% for i in farming_roi %}

                    <td style="width: 50px">
                      <img src="{% static 'assets/images/rank/roi.png' %}" width='30px'>
                    </td>

                    <td>
                      <div>
                        <h5 class="font-size-14 mb-1">
                          {{i.plan_id.plan_id.name}} ({{i.plan_id.c_id.name}})

                        </h5>
                        <p id="date" class="text-muted mb-0 font-size-12">
                          {{i.date|slice:"0:19"}}
                        </p>
                      </div>
                    </td>

                    <td>
                      <div class="text-end">
                        <span class='badge badge-soft-success'>{{i.roi|floatformat:'2'}}</span>

                      </div>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              No data Found
              {% endif %}
            </div>

          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->
      </div>


      <div class="col-xl-12">
        <div class="card bg-black bg-opacity-50 shadow-lg border border-white border-opacity-25">
          <div class="card-header">
            <h4 class="card-title mb-0 ">Direct Bonus</h4>

          </div>
          <!-- end card header -->

          <div class="card-body bg-dark px-0">

            <div class="table-responsive px-3" data-simplebar style="max-height: 352px">

              <table class="table table-hover align-middle table-nowrap table-borderless">
                <tbody>

                  <tr>
                    {% for key,value in level_income_logs.items %}

                    <td style="width: 50px">
                      <img src="{% static 'assets/images/rank/coin.png' %}" width='20px'>
                    </td>

                    <td>
                      <div>
                        <h5 class="font-size-14 mb-1">
                          Level {{key}}
                        </h5>

                      </div>
                    </td>

                    <td>
                      <div class="text-end">
                        <span class="badge badge-soft-success">{{value|floatformat:'4'}}</span>

                      </div>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>


          <!-- end card body -->
        </div>
        <!-- end card -->
      </div>


    </div>




  </div>
</div>
</div>


</div>
</div>
</div>



{% endblock %}