{% extends 'userpages/form_component.html' %} 
{% block content %} 
{% load static %}

<div class="p-3">
  {% if message %}
  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    role="alert"
  >
    <i class="fa-solid fa-circle-xmark"></i>
    <strong>{{message}}</strong>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% elif message3 %}
  <div
    class="alert alert-success alert-dismissible fade show text-center"
    role="alert"
  >
    <i class="fa-solid fa-circle-check"></i>

    <strong>{{message3}}</strong>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% elif message6 %}
  <div
    class="alert alert-success alert-dismissible fade show text-center"
    role="alert"
  >
    <i class="fa-solid fa-circle-check"></i>
    <strong>{{message6}}</strong>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% elif message7 %}
  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    role="alert"
  >
    <i class="fa-solid fa-circle-xmark"></i>
    <strong>{{message7}}</strong>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
</div>

  <div class="p-lg-4 p-md-2 px-0">
    <div class="px-lg-5 px-4 py-4 rounded-0">
      <form
        class="needs-validation mt-2 pt-2"
        method="post"
        novalidate
        action="../../../newpassword"
      >
        {% csrf_token %}

        <h1 class="text-black my-3 case fw-semibold">New Password</h1>
        <input type='email' value="{{em}}" hidden name='email'>
        <input type='text' value="{{token}}" hidden name='token'>
        
        <div class="mt-4">
          <label class="form-label mb-1 mt text-black">New Password</label>
          <input
            type="password"
            class="form-control border-0 input py-2 rounded-3"
            
            required
            name="new_password"
            placeholder="New password"
            aria-label="Password"
            aria-describedby="password-addon"
          />
          
        </div>
        <div class="mt-3">
          <label class="form-label mb-1 text-black">Confirm Password</label>
          <div class="d-flex password">
            <input
              type="password"
              name="confirm_password"
              class="form-control rounded-start-3 rounded-end-0 input border-0 py-2 input-group auth-pass-inputgroup"
              required
              placeholder="Confirm password"
              aria-label="Password"
              aria-describedby="password-addon"
            />
            <button
              class="btn btn-light border-0 ms-0 rounded-end-3 rounded-start-0"
              type="button"
              id="password-addon"
            >
              <i class="fa-solid fa-eye text-black"></i>
            </button>
          </div>
          <div class="invalid-feedback">Please Enter Confirm Password</div>
        </div>

        <div class="d-grid mt-4 pt-2">
          <button
            class="btn btn-primary waves-effect py-2 border-0 waves-light"
            type="submit"
          >
            Submit
          </button>
        </div>
        <p class="text-black text-opacity-75 mt-3">
          Remember It ?
          <a href="../../loginpage" class="text-decoration-none text-black">
            Sign In
          </a>
        </p>
        <div class="mt-4 pt-2">
          <p class="mb-0 text-black text-opacity-75">
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            ALP
          </p>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
